################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/C#/Sorting/bin/Debug/netcoreapp3.1
/C#/Sorting/obj
/C#/SortingTest/bin/Debug/netcoreapp3.1
/C#/SortingTest/obj
/C#/.vs
